
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
**/resultados/

# Variables de entorno
.env
.env.test
.env.local
.env.*.local
.env.production