# Variables de entorno con credenciales
.env
.env.test
.env.local

# Node & Cypress artifacts
node_modules/
package-lock.json
cypress/downloads/
cypress/screenshots/
cypress/videos/
evidencias/videos/
evidencias/screenshots/

# Logs
*.log
